#rf {
  width: 350px;
}
.switch {
  background: darkgrey;
}
.switch-vertical {
  height: 50px;
}
.tile {
  background: black;
  padding: 5px;
  border: 2px solid black;
  min-height: 32px;
}
.filledtile {
  background: red;
  color: yellow;
}
